<doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Finn Boire</title>
		<link rel="stylesheet" href="style.css">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="data.js"></script>

		<link href='https://fonts.googleapis.com/css?family=Balthazar' rel='stylesheet'>

	</head>
	<body> 
		<div class="wrapper">
			<a id="site-title" href="./index.html">Finn Boire</a>
			<hr></hr>
			<div class="content">
				<p style="font-size:1.3em">Set Solver</p>
				<hr></hr>
				<div id="set-app">
					<p>Please input the cards on the table:</p>
					<input type="text" name="cards" placeholder="" v-model="cardsInput" @input="updateCards($event)">
					<button v-on:click="setLeft()">&lt;</button>
					<button v-on:click="setRight()">&gt;</button>
					<p></p>
					<div class="cardTable">
						<div class="card" v-for="(card, cardIndex) in cards" v-bind:class="{inset: card.inCurrSet}"> 
							<div class="shapeLayout">
								<div class="shape" v-for="(num, i) in card.num">
									<div class="shapeif" v-if="card.shape === 's'">
										<svg viewBox="-1.2 0 10 16" xmlns="http://www.w3.org/2000/svg">
											<defs>
											<clipPath id="s_mask">
											<rect x="0" y="-1" width="10" height="2.0" fill="#000000" />
											<rect x="0" y="2" width="10" height="2.0" fill="#000000" />
											<rect x="0" y="5.25" width="10" height="2.0" fill="#000000" />
											</clipPath>
											</defs>
											<path :id="cardIndex" d="m2.6458 2.6458s5.0271-0.52917 1.3229 5.2917" fill="none" :stroke="card.color" stroke-linecap="round" stroke-width="5.2"/>
											<use transform="rotate(180 3.9688 7.9375)" width="100%" height="100%" :xlink:href="cardIndex"/>
											<g v-if="card.fill === 'h'">
											<path :id="cardIndex" d="m2.6458 2.6458s5.0271-0.52917 1.3229 5.2917" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-width="4.0" clip-path="url(#s_mask)"/>
											<use transform="rotate(180 3.9688 7.9375)" width="100%" height="100%" :xlink:href="cardIndex"/>
											</g>
											<g v-else-if="card.fill === 'e'">
											<path id="path859" d="m2.6458 2.6458s5.0271-0.52917 1.3229 5.2917" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-width="4.0"/>
											<use transform="rotate(180 3.9688 7.9375)" width="100%" height="100%" xlink:href="#path859"/>
											</g>
										</svg>
									</div>

									<div class="shapeif" v-else-if="card.shape === 'o'">
										<svg viewBox="-1.2 0 10 16" xmlns="http://www.w3.org/2000/svg">
											<defs>
											<clipPath id="o_mask">
											<rect x="0" y="-1" width="10" height="2.0" fill="#000000" />
											<rect x="0" y="2" width="10" height="2.0" fill="#000000" />
											<rect x="0" y="5.25" width="10" height="2.0" fill="#000000" />
											<rect x="0" y="8.5" width="10" height="2.0" fill="#000000"/>
											<rect x="0" y="11.75" width="10" height="2.0" fill="#000000"/>
											<rect x="0" y="15.0" width="10" height="2.0" fill="#000000"/>
											</clipPath>
											</defs>
											<path d="m3.9688 3.9688v7.9375" fill="none" :stroke="card.color" stroke-linecap="round" stroke-width="8"/>
											<path d="m3.9688 3.9688v7.9375" v-if="card.fill === 'h'" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-width="6.8" clip-path="url(#o_mask)"/>
											<path d="m3.9688 3.9688v7.9375" v-else-if="card.fill === 'e'" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-width="6.8"/>
										</svg>
									</div>
									<div class="shapeif" v-else-if="card.shape === 'd'">
										<svg viewBox="-1.2 0 10 16" xmlns="http://www.w3.org/2000/svg">
											<defs>
											<pattern id="lines" width="10" height="10">
											<rect x="0" y="0" width="100" height="100" fill="card.color"/> 
											<path transform="matrix(1.118 -1.118 0.559 0.559 0 0)" stroke-width="2.0" stroke="#ffffff" d="m-4 0l2 0m-2 3l10 0m-10 3.25l10 0m-10 3.25l10 0m-10 3.25l10 0m-10 3.25l10 0"/>
											</pattern>
											</defs>
											<rect transform="matrix(.44721 .89443 -.44721 .89443 0 0)" x="4.4372" y="-4.4372" width="8.8744" height="8.8744" v-if="card.fill === 'h'" fill="url(#lines)" stroke-width="0.8" :stroke="card.color" style="paint-order:fill markers stroke"/>
											<rect transform="matrix(.44721 .89443 -.44721 .89443 0 0)" x="4.4372" y="-4.4372" width="8.8744" height="8.8744" v-else-if="card.fill === 'e'" fill="#ffffff" stroke-width="0.8" :stroke="card.color" style="paint-order:fill markers stroke"/>
											<rect transform="matrix(.44721 .89443 -.44721 .89443 0 0)" x="4.4372" y="-4.4372" width="8.8744" height="8.8744" v-else :fill="card.color" stroke-width="0.8" :stroke="card.color" style="paint-order:fill markers stroke"/>
										</svg>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		</div>
		<script src="./page.js"></script>
	</body>
</html>
